/* UOS Version: 2.2 - May 4, 2009 */
/* This stylesheet is only to be called from full UOS pages.*/

/*****************************************************************************/
/* Reset Styles
/*****************************************************************************/	

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, tt, var,dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr
{margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;}
body {line-height: 1;color: black;background: white;}
ol, ul {list-style: none;}
table {border-collapse: separate;}
caption, th, td {font-weight: normal;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
 
/*****************************************************************************/
/* Common
/*****************************************************************************/	

body{color:#000000;font-size:81.5%;margin:0;line-height:1.4em;position:relative;background: #fff url(bg-standard.gif) top;background-attachment:fixed;}
body,td,th,input,select,textarea,input,button {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
p{margin:0 0 12px 0}
strong{font-weight:bold;}
em, i{font-style:italic;}
a{color:#002888;text-decoration:underline}
a:visited{color:#5B005B}
a:hover{text-decoration:underline;color:#000}
a:focus{text-decoration:underline;color:#000}
a:active{text-decoration:underline;color:#000}
html > body a:hover, html > body a:focus, html > body a:active{background-color:#e5ebf2;}
a.nohover{background-color:transparent !important}

h1{font-weight:normal;color:#002888;font-size:1.69em;line-height:1.21em;margin:0 0 12px 0}
h2{font-size:1.155em;color:#000;line-height:1.21em;font-weight:bold;margin:24px 0 5px 0}
h3{font-size:1.075em;color:#595959;line-height:1.21em;font-weight:bold;margin:18px 0 5px 0}
h4{font-size:.925em;color:#000000;line-height:1.21em;font-weight:bold;margin:18px 0 5px 0}
h5{font-size:.925em;color:#000000;line-height:1.21em;font-weight:bold;margin:18px 0 5px 0} /* notices */
h6{font-size:.845em;color:#000000;line-height:1.21em;font-weight:bold;margin:18px 0 5px 0}

html > body sup{font-size:11px !important;line-height:1.7em;}
sup{line-height:1.7em;}
th.contentframework-dataheadertop sup{_font-size:13px !important;}

ul{margin:0 0 11px 20px;padding:0 0 1px 0;list-style:none;}
ul li{background: url(../images/layout/bullet-disc.gif) 0 .7em no-repeat;padding:0 0 0 12px;}
ul li ul{margin:0}
ul li ul li{background: url(../images/layout/bullet-disc-hollow.gif) 0 .7em no-repeat}
ul li ul li ul{}
ul li ul li ul li{background: url(../images/layout/bullet-square-hollow.gif) 0 .7em no-repeat}
ul li ul li ul li ul{}
ul li ul li ul li ul li{background: url(../images/layout/bullet-diamond.gif) 0 .7em no-repeat}
ul li ul li ul li ul li ul{}
ul li ul li ul li ul li ul li{background: url(../images/layout/bullet-dash.gif) 0 .7em no-repeat}

ol{margin:0 0 11px 38px;padding:0 0 1px 0;list-style:decimal;}
ol ol{margin:0px 0 10px 22px;list-style:lower-alpha}
ol ol ol{list-style:lower-roman}
ol ul li{list-style:none}

tt{font-family:"Lucida Console", Monaco, monospace}
select optgroup option {padding-left:15px;}