/*CIBC Specific Global*/
@font-face {
font-family: 'WhitneyMedium';
src: url("fonts/whitney/WhitneyMedium.woff2") format("woff2"),
 url("fonts/whitney/WhitneyMedium.woff") format("woff");
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: 'WhitneySemibold';
src: url("fonts/whitney/WhitneySemibold.woff2") format("woff2"),
 url("fonts/whitney/WhitneySemibold.woff") format("woff");
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'WhitneyBookRegular';
src: url("fonts/whitney/WhitneyBookRegular.woff2") format("woff2"),
 url("fonts/whitney/WhitneyBookRegular.woff") format("woff");
font-weight: 400;
font-style: normal;
}
a.clickable, .clickable a {
	text-decoration: underline;
}
.check-label::before {
	background-size: 24px 24px;
	top: -2px;
}
.btn {
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
:lang(en) .currency-input > input {
	padding-left: 1.25em;
}
:lang(en) .currency-input::before{
	color: #000;
	font-size:0.85em;
	top: 1.25em;
	left: 0.5em;
}
.currency-input > input {
	color: #000;
	font-size:0.85em;
}
.currency-input > input::-webkit-input-placeholder{
	color: #606366;
}
.currency-input > input:::-moz-placeholder{
	color: #606366;
}
.currency-input > input:-ms-input-placeholder{
	color: #606366;
}
/*Tetris override*/
#account-detail .bottom-shadow{
	visibility: hidden;
}

.credit .transaction-history-records{
	border-top: 3px solid grey !important;
}
/*Tetris override*/
#user-password {
	margin: 0.769em 0 16px 0;
}
/*Tetris override*/
.button-set{
    text-align: center;
    padding: 0;
    background: none;
}
/*Tetris override*/
.button-set .btn-positive, 
.button-set input.btn:first-of-type + input.btn-negative:last-child {
	background-color: #C41F3F;
	color: white;
	border-radius:4px;
	border: none;
	float: right;
	padding: 8px;
	min-width: 30%;
	min-height: 38px;
	font-size: 14px;
}
/*Tetris override*/
.button-set .btn-negative{
	color: #C41F3F;
    text-align: center;
    border: 1px solid #C41F3E;
    border-radius:4px;
    padding: 8px;
    min-width: 30%;
    min-height: 38px;
    font-size: 14px;
}
.button-set .btn-positive:last-child, 
.button-set .btn-negative:last-child {
	border-right: 1px solid #C41F3E;
}
.btn:last-of-type.btn-negative:nth-of-type(2) {
	padding-right: 8px;
}
.add-button {
	color: #C41F3E;
	padding-left: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #BBBCBC;
	background-size: 1.7em 1.7em;
	background-position: 0 14px;
}
/*Tetris Override Noah*/
/*.add-button{
	position: fixed;
	margin: 0 auto;
	bottom: 5px;
	left: 0;
	right: 0;
	background-color: #C41F3F;
	background-image: none;
	padding: 12px 0;
	color: #fff;
	width: 90%;
	height: 38px;
	text-align: center;
	border-radius: 5px;
}*/

.vis-division li#ref-number span {
	color: #383B3E;
}
.trash-icon:before{
    width: 1.9em;
    height: 1.9em;
}
.icon-pencil-lt:before, .icon-pencil-drk:before{
	z-index: 0;
}

a.file-link{
	color:#C41F3F;
}
.tab-control a.active {
	height: 52px;
	color: #C41F3F;
	border-bottom: 3px solid #C41F3F;
	padding: 1em;
}
#btn-payments.active, #btn-summary.active{
	background-color:#fff;
}
/*Tetris override*/
.tab-control a{
	border: none;
	border-bottom: 1px solid #606366;
	background: none;
	background-image: none !important;
}
.tab-control a span {
	color: #606366;
	font-size: 14px;
}
.tab-control a.active span {
	color: #C41F3E;
}
.transaction-table-title {
	background-color: #fff;
	border-bottom: 2px solid #606366;
	color: #383B3E;
}
.alert-style{
	color:#C41F3F;
}
.alert-box{
	outline: solid #C41F3F 1px;
}
.alert-box p{
	color:#C41F3F !important;
}
.font-color-clickable{
	color:#C41F3F;
	text-decoration: underline;
}
#next-link, #previous-link{
	color: #C41F3F;
}

/*Tetris Override*/
header{
	border-bottom: 2px solid #606366;
}
#header-logo {
	height: 45px;
	top: -0.2em;
}
/*Tetris Override*/
#header-title .title {
    color: #C41F3E;
}
/*Tetris Override*/
#header-link a{
	color: #666666;
}
#adchoice-icon-link{
	position: relative;
    text-align: right;
    margin-left: auto;
}
.page-wrapper h2 {
	color: #383B3E;
}
.pagination-section {
	background: none;
}
/*Tetris Override*/
account-selection-label #account-number {
	color: #626568;
}
/*Tetris Override*/
.account-dropdown li:first-of-type{
	border-top:none;
}

section.page-title, .page-title-holder {
	background-color: #F2F3F2;
}

/*Tetris Override*/
section.page-title .title{
	color: #383B3E;
	font-size: 16px;
}
/*Tetris Override*/
section.page-title:before{
	position: fixed;
}
.page-subtitle {
	background-color: #fff;
	border-bottom: 2px solid #606366;
}
.back-button img {
	width: 1.5em;
}
/*Tetris Override*/
.page-footer {
	color: #383B3E;
}
/*Tetris Override*/
.disclaimer-text{
	padding-top: 10px;
	color: #383B3E;
}
/*Tetris Override*/
#drawer-toggle-chk:checked ~ #drawer-toggle-label{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
}
/*Tetris Override*/
#drawer-toggle-chk:checked ~ header,
#drawer-toggle-chk:checked ~ #main-page{
	left: 0;
	z-index: 0;
	opacity: 0.35;
}
/*Tetris Override*/

#drawer-toggle-label img:first-of-type {
	height: 2em;
    top: 0.9em;
    left: 0.7em;
}
#drawer-toggle-label img:nth-of-type(2){
	height: 2.8em;
}

#drawer-toggle-label:after {
	content: none;
}
#drawer-toggle-chk:checked ~ #drawer-toggle-label img#close-menu-icon{
	background-color: #fff;
	top: 0;
	left: 0;
}
/*Tetris override*/
#drawer-menu ul {
	background-color: #fff;
	padding-top: 15px;
	margin-bottom: 60px;
}
/*Tetris override*/
#drawer-menu ul hr{
	border-top: 1px solid lightgrey;
}

#li-sign-out {
    bottom: 0;
    width: 100%;
    max-width: 300px;
}
/*Tetris override*/
#drawer-menu #logout-link {
	background-color:#C41F3F;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	margin: 8px;
	height: 38px;
	padding: 10px;
}


/*Tetris override*/
#drawer-menu .drawer-menu-header {
	background-image: url('images/drawer/drawer-bg-cibc.png');
	color: #fff;
}
/*Tetris override*/
#drawer-menu ul a {
	color: #606366;
}
/*Tetris override*/
#drawer-menu {
	background-color: #fff;
}
/*Tetris Override*/
#drawer-menu ul a.active{
	background-color: #F2F3F2;
	font-weight: bold;
	color: #C41F3F;
	padding-left: 58px;
	border-left: 2px solid #C41F3F;
}

#drawer-menu ul li a {
	background-size: 25px;
    background-position: 16px 13px;
}
#drawer-menu ul li#li-sign-on a {
	background-image: url('images/drawer/Sign-On-icon.png');
}
#drawer-menu ul li#li-sign-on a.active {
	background-image: url('images/drawer/Sign-On-icon-active.png');
}
#drawer-menu ul li#li-open-account a {
	background-image: url('images/drawer/open-account.png');
}
#drawer-menu ul li#li-open-account a.active {
	background-image: url('images/drawer/open-account-active.png');
}
#drawer-menu ul li#li-find-us a {
	background-image: url('images/drawer/Find-Us-icon.png');
}
#drawer-menu ul li#li-security a {
	background-image: url('images/drawer/Security-Gurantee-icon.png');
}
#drawer-menu ul li#li-my-accounts a {
	background-image: url('images/drawer/My-Accounts-icon.png');
}
#drawer-menu ul li#li-my-accounts a.active {
	background-image: url('images/drawer/My-Accounts-icon-active.png');
}
#drawer-menu ul li#li-pay-bills a {
	background-image: url('images/drawer/Bill-Payments-icon.png');
}
#drawer-menu ul li#li-pay-bills a.active {
	background-image: url('images/drawer/Bill-Payments-icon-active.png');
}
#drawer-menu ul li#li-interac a {
	background-image: url('images/drawer/e-Transfer-icon.png');
}
#drawer-menu ul li#li-interac a.active {
	background-image: url('images/drawer/e-Transfer-icon-active.png');
}
#drawer-menu ul li#li-transfer a {
	background-image: url('images/drawer/Transfers-icon.png');
}
#drawer-menu ul li#li-transfer a.active {
	background-image: url('images/drawer/Transfers-icon-active.png');
}
#drawer-menu ul li#li-upcoming a {
	background-image: url('images/drawer/Upcoming-Transactions-icon.png');
}
#drawer-menu ul li#li-upcoming a.active {
	background-image: url('images/drawer/Upcoming-Transactions-icon-active.png');
}
#drawer-menu ul li.li-sso a#FXC-link {
	background-image: url('images/drawer/Foreign-Cash-icon.png');
}
#drawer-menu ul li.li-sso a#GMT-link{
	background-image: url('images/drawer/Global-Money-Transfer-icon.png');
}
#drawer-menu ul li.li-sso a#RPC-link{
	background-image: url('images/drawer/rpc-icon.png');
}
#drawer-menu ul li.li-sso a#PMO-link{
	background-image: url('images/drawer/pmo-icon.png');
}
#drawer-menu ul li.li-sso a#CCS-link{
	background-image: url('images/drawer/Credit-Score-icon.png');
	background-size: 25px;
    background-position: 16px 13px;
}
#drawer-menu ul li.li-sso a#CCS-link.active{
	background-image: url('images/drawer/Credit-Score-icon-active.png');
}
#drawer-menu ul li#li-browse-products a {
	background-image: url('images/drawer/Browse-Products-icon.png');
}
#drawer-menu ul li#li-browse-products a.active {
	background-image: url('images/drawer/Browse-Products-icon-active.png');
}
#drawer-menu ul li#li-sites-apps a {
	background-image: url('images/drawer/sites.png');
}
#drawer-menu ul li#li-sites-apps a.active {
	background-image: url('images/drawer/sites-active.png');
}
#drawer-menu ul li#li-client-services a {
	background-image: url('images/drawer/Client-Services-icon.png');
}
#drawer-menu ul li#li-client-services a.active {
	background-image: url('images/drawer/Client-Services-icon-active.png');
}
#drawer-menu ul #security-guarantee-link {
	background-image: url('images/drawer/Security-Guarantee-icon.ico');
}
#drawer-menu .drawer-icon-cog {
	height: 1.8em;
    width: 1.8em;
    position: absolute;
    bottom: 8px;
    right: 10px;
}

/*CIBC Specific Error Msgs*/
.global-error-form-wrapper {
	border: 1px solid #8B1D41;
	color: #8B1D41;
	background-color: #FAF1F3;
}
.global-error-form-wrapper:after {
	border-top-color: #FAF1F3;
}
.global-error-form-wrapper:before {
	border-top: 17px solid #8B1D41;
}
.error.help-msg:before, .tool-tip:before {
	border-bottom: 10px solid #8B1D41;/*Tetris Override*/
}
.error.help-msg, .tool-tip {
	background-color: #8B1D41;/*Tetris Override*/
}
.inline-error {
	border: 2px solid #8B1D41;
	color: #8B1D41;
}
.inline-msg {
	color: #606366;
}
.inline-help-icon {
	width: 25px;
    height: 25px;
}
#confirm-ad-space{
	background: #8B1D41;
}
.input-form label {
	color: #606366;
}
#edit-interac-profile .input-form fieldset:nth-of-type(2) label, 
#edit-interac-profile .input-form fieldset:nth-of-type(3) label {
	font-weight: bold;
}
form p.form-helper {
	color: #606366;
}
.terms-set a span{
	text-decoration: underline;
	color: #C41F3E;
}
.error-check-bg {
	background: #F2F3F2;
}
.error-check img {
	width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #fff;
}
#full-page-error p {
	color: #606366;
}
.switch-slider .slider-round {
	background-color: #606366; 
}
.switch-slider .slider-round:before {
	border-color: #606366;
}
input:checked + .slider-round:before {
	border-color: #4A9E6B;
}
input:checked + .slider-round {
	background-color: #4A9E6B;
}
select, select:focus {
	background:url(images/arrow-icon.png);/*BB7*/
	background-repeat: no-repeat;/*BB7*/
    background-position: right;/*BB7*/
	background:url(images/arrow-icon.png) right no-repeat, #fff;
	border-radius: 4px;
	border:solid 1px #606366;
	box-shadow: none;
	color: #606366;
} select:focus{
	border:solid 2px #606366;
	color: #383B3E;
	outline: none;
}
/*Tetris Override*/
input[type='number'], input[type='text'], input[type='password'], input[type='email'],
input[type='tel'], input[type='search'], input[type='checkbox'], input[type='submit'],
#manage-cards-button {
	border-radius: 4px;
	border:solid 1px #606366;
	background: #fff;
	box-shadow: none;
}

/*Tetris Override*/
input[type='number']:focus, input[type='text']:focus, input[type='password']:focus, input[type='email']:focus,
input[type='tel']:focus, input[type='search']:focus, #manage-cards-button:focus {
	border-radius: 4px;
	border:solid 2px #606366;
	color: #383B3E;
	outline: none;
}

/*Tetris Override*/
.error input[type='number'],.error input[type='text'],.error input[type='password'],.error input[type='email'],
.error input[type='tel'],.error input[type='search'], .error select{
	border-radius: 4px 4px 0 0;
	border:solid 1px #8B1D41;
}

/*Tetris Override*/
input[type='number']:disabled, input[type='text']:disabled, input[type='password']:disabled, input[type='email']:disabled,
input[type='tel']:disabled, input[type='search']:disabled, select:disabled {
	background-color: #F2F3F2;
	color: #606366;
}

/*Tetris Override*/
.confirm-check-message, .confirm-check-bg {
	background-color: #F2F3F2;
}

/*Tetris Ovverride*/
.confirm-check-bg, .confirm-check-message p, .confirm-check-message h3, .confirm-email-message p, .confirm-email-message h3 {
	color: #383B3E;
}

/*Tetris Ovverride*/
.key {
	color: #606366;
}

/*Tetris Ovverride*/
.value {
	color: #383B3E;
}
/*Tetris Ovverride*/
.value .sub-val {
	color: #606366;
}

/*Tetris Ovverride*/
fieldset.vis-division, .vis-division li, .details-line {
	border-bottom: 1px solid #BBBCBC;
}
.overlay-msg {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 65px;
}
.overlay-msg div {
	background: #F2F3F2;
}
.confirm-check, .confirm-email{
	background-color: #4A9E6B;
}
.error-check {
	background-color: transparent;
}
#privayc-legal-help-section a {
	text-decoration: underline;
}

.your-information{
	height: 27px;
	color: #AF0B1C;
	font-size: 24px;
	line-height: 27px;
	text-align: center;
}

.details-header {
	color: #333333;
	padding-left:10px;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	background-color: #EFEFEF;
}

.header-information {
	color: #AF0B1C;
	font-size: 24px;
	padding-top: 50px;
	text-align: center;
}

.half-fieldset {
	width: 50%;
	float: left;
	padding-right: 15px;
}

.display-title {
	display: none !important;
}

.confirm-check-img {
	display: none;
}

.help-text {
	color: #666666;
	margin-top: -15px;
	padding-bottom: 10px;
}