#card-information{
	padding-top: 30px;
}
#password-reset{
	padding-top: 20px;
}
#password-reset .verbiage{
	padding-bottom: 12px;
}
.pvq-verbiage{
	padding-top: 14px;
	padding-bottom: 12px;
	white-space: normal;
}
#forgot-answers-page a.btn{
	display: inline-block;
}
#card-information .flex-box input{
	margin-top:4px;
}
#card-information .flex-box .flex-box-flex-1{
	margin-top:1px;
}
#card-information .flex-box .flex-box-flex-1:first-of-type{
   padding-right:7.5px
}
#card-information .flex-box .flex-box-flex-1:last-of-type{
   padding-left:7.5px
}
#change-password #pwd-strength-indicator,
#password-reset #pwd-strength-indicator{
	margin-top: -0.5em;
}
.help-msg-info-label{
	color: #666666;
}