.pwd-strength-weak {
    color: #fe0000;
}

.pwd-strength-medium {
    color: #ffca03;
}

.pwd-strength-strong {
    color: #68ca03;
}

.password-strength-hint-button {
	float: right;
	margin-right: 1em;
}
#pwd-strength-indicator{
	margin: 1em 0 1.7em;
}

#pwd-strength-indicator .help-msg-info-value {
	display: none;
}

.password-strength-hint::before {
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 7px solid #efefef;
	content: "";
	position: absolute;
	height: 0;
	right: 0.55em;
	top: -7px;
	width: 0px;
}
.password-strength-hint {
	background-color: #efefef;
	border: 1px solid #efefef;
	display: none;
	font-size: 0.8em;
	margin-bottom: 1.5em;
	padding: 1em;
	position: relative;
	margin-top: -0.8em;
}
.password-strength-hint p:nth-of-type(2) {
    margin: 1em 0;
}
.password-strength-hint ul {
    padding-left: 1.3em;
}
.password-strength-hint ul li {
	line-height: 1.2em;
	font-size: 0.9em;
}

#pwd-strength-indicator a img {
	width: 1.5em;
	height: auto;
	position: relative;
	bottom: 0.25em;
	left: 0.15em;
}
