
/* Stylesheet content from app.css in folder common */
/* heebo-100normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 100;
  src: url(assets/heebo-latin-100.d413aedc0823518b0ec300211f5146a3.eot); /* IE9 Compat Modes */
  src:
    local('Heebo Thin '),
    local('Heebo-Thin'),
    url(assets/heebo-latin-100.d413aedc0823518b0ec300211f5146a3.eot?#iefix) format('embedded-opentype'), 
    url(assets/heebo-latin-100.3f9589ceb67717b3ad0351ecc41e9359.woff2) format('woff2'), 
    url(assets/heebo-latin-100.4aed32e398fe3bc85060588fa0d3dbe1.woff) format('woff'), 
    url(assets/heebo-latin-100.b556a4d099a22150045437d40fc316f7.svg#heebo) format('svg'); /* Legacy iOS */
}

/* heebo-300normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  src: url(assets/heebo-latin-300.50bd3aaddc561316f08302d7c23f92ce.eot); /* IE9 Compat Modes */
  src:
    local('Heebo Light '),
    local('Heebo-Light'),
    url(assets/heebo-latin-300.50bd3aaddc561316f08302d7c23f92ce.eot?#iefix) format('embedded-opentype'), 
    url(assets/heebo-latin-300.b6f4b364bacb2fac92954dfd0381f9a7.woff2) format('woff2'), 
    url(assets/heebo-latin-300.b736b14e667f9453c562055f70b76e92.woff) format('woff'), 
    url(assets/heebo-latin-300.4b00254320bcf84b96227349356ef3a6.svg#heebo) format('svg'); /* Legacy iOS */
}

/* heebo-400normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url(assets/heebo-latin-400.5782e4615da1f848d3662ae276a0a1b6.eot); /* IE9 Compat Modes */
  src:
    local('Heebo Regular '),
    local('Heebo-Regular'),
    url(assets/heebo-latin-400.5782e4615da1f848d3662ae276a0a1b6.eot?#iefix) format('embedded-opentype'), 
    url(assets/heebo-latin-400.a0deac18f6bbbb160e461cd65e8a5866.woff2) format('woff2'), 
    url(assets/heebo-latin-400.10e885a7b5eb4ef9198b80c4313ceade.woff) format('woff'), 
    url(assets/heebo-latin-400.895718f90abd955f3a75b0c87b56616c.svg#heebo) format('svg'); /* Legacy iOS */
}

/* heebo-500normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: url(assets/heebo-latin-500.f811424937e04e813f2f141757d6969a.eot); /* IE9 Compat Modes */
  src:
    local('Heebo Medium '),
    local('Heebo-Medium'),
    url(assets/heebo-latin-500.f811424937e04e813f2f141757d6969a.eot?#iefix) format('embedded-opentype'), 
    url(assets/heebo-latin-500.0a876a0034fe9ce1e8870777d23e7454.woff2) format('woff2'), 
    url(assets/heebo-latin-500.7fbf2f93aaff961286deef95f3831279.woff) format('woff'), 
    url(assets/heebo-latin-500.72d6416354caa01db41858040fc465f7.svg#heebo) format('svg'); /* Legacy iOS */
}

/* heebo-700normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: url(assets/heebo-latin-700.40bfe8549db25d4c571c6492a0c5a9cd.eot); /* IE9 Compat Modes */
  src:
    local('Heebo Bold '),
    local('Heebo-Bold'),
    url(assets/heebo-latin-700.40bfe8549db25d4c571c6492a0c5a9cd.eot?#iefix) format('embedded-opentype'), 
    url(assets/heebo-latin-700.8786bae8200eae74c2c32e62b5ee94af.woff2) format('woff2'), 
    url(assets/heebo-latin-700.26c3ea8477fd0451bb9ff10bbcd2cd43.woff) format('woff'), 
    url(assets/heebo-latin-700.dd9445327259c8471df368d0d5e3c387.svg#heebo) format('svg'); /* Legacy iOS */
}

/* heebo-800normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  src: url(assets/heebo-latin-800.e0586b8fce61208e3ca5e772862d0098.eot); /* IE9 Compat Modes */
  src:
    local('Heebo ExtraBold '),
    local('Heebo-ExtraBold'),
    url(assets/heebo-latin-800.e0586b8fce61208e3ca5e772862d0098.eot?#iefix) format('embedded-opentype'), 
    url(assets/heebo-latin-800.cde48248e2b1eb28aba461f77f3429ad.woff2) format('woff2'), 
    url(assets/heebo-latin-800.d86f9b845162b6b90916ef91a7fb98bb.woff) format('woff'), 
    url(assets/heebo-latin-800.84ca4ccc5057e74766b3d50d418b960e.svg#heebo) format('svg'); /* Legacy iOS */
}

/* heebo-900normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 900;
  src: url(assets/heebo-latin-900.2b1c23ddb307446d1d2499f43143063a.eot); /* IE9 Compat Modes */
  src:
    local('Heebo Black '),
    local('Heebo-Black'),
    url(assets/heebo-latin-900.2b1c23ddb307446d1d2499f43143063a.eot?#iefix) format('embedded-opentype'), 
    url(assets/heebo-latin-900.65f4ebf7cf2712c0c024ee8c25c49310.woff2) format('woff2'), 
    url(assets/heebo-latin-900.4893a1e7f71af9c4551c886cc6fa9bb3.woff) format('woff'), 
    url(assets/heebo-latin-900.65cae84de60c183f90a9488477399741.svg#heebo) format('svg'); /* Legacy iOS */
}

/**
 * Application variables and style guide, the starting point is extracted from
 * zeplin and can be found within generated/zeplin-styleguide.scss
 */
/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Color palette */
/* Text styles */
/* duplicated */
/* How to use mixins
 *	.myClass {
 *		@include font-size-xxxlarge;
 *	}
 */
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .flex-item {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .flex-center {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex-justify-center {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex-align-center {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex-row {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }

.bmo-flex, .bmo-flex-center, .bmo-flex-justify-center, .bmo-flex-align-center, .bmo-flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.bmo-flex-item {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.bmo-flex-center {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.bmo-flex-justify-center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.bmo-flex-align-center {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.bmo-flex-row {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.make-small {
  font-size: .76em; }

.positive {
  color: #0b8224; }

.host {
  display: block;
  width: 100%;
  height: 100%; }

#WLdialogContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%; }
  #WLdialogContainer #WLdialogOverlay {
    background-color: #000;
    opacity: 0.4; }
  #WLdialogContainer #WLdialog {
    position: static !important;
    border: none;
    border-radius: 0.25rem;
    background-color: #ffffff; }
    #WLdialogContainer #WLdialog #WLdialogTitle {
      font-family: Heebo;
      font-size: 0.875rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: 0.2px; }
    #WLdialogContainer #WLdialog #WLdialogBody {
      text-align: center; }
      #WLdialogContainer #WLdialog #WLdialogBody p {
        font-family: Heebo;
        font-size: 0.875rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 0.2px; }
      #WLdialogContainer #WLdialog #WLdialogBody .dialogButton {
        font-family: Heebo;
        font-size: 0.875rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 0.2px;
        display: block;
        width: 11.25rem;
        height: 3.5rem;
        border-radius: 1.75rem;
        background-color: #0079c1;
        color: #ffffff;
        margin: 1.5rem auto; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0; }

.splashScreen {
  background-color: #0079c1;
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) {
    .splashScreen {
      background-image: url(assets/splash_480x768.2680bbf59f4cec0acbda604be6cebc1f.png); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .splashScreen {
      background-image: url(assets/splash_750x1334.fad4abc3922507428ec44fe50d77efc9.png); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (device-width: 320px) and (device-height: 480px) {
    .splashScreen {
      background-image: url(assets/splash_640x960.255e1dd645aaddb4a1b39b39dec0db36.png); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (device-width: 320px) and (device-height: 568px) {
    .splashScreen {
      background-image: url(assets/splash_640x1136.ff5b43b881b50924ccf9d9d41be97f9e.png); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .splashScreen {
      background-image: url(assets/splash_1125x2436.19f08553d654329472ad47e43b7e8bdc.png); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) and (device-width: 414px) and (device-height: 736px) {
    .splashScreen {
      background-image: url(assets/splash_1242x2208.5ff14985ed4742e69dda2a9ebdeb4103.png); } }
  .splashScreen .logoImage {
    position: absolute;
    height: 80px;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto; }

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.lowerCase {
  text-transform: lowercase; }

.bodyError {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .bodyError .header {
    min-height: 4.75rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #0079c1; }
    .bodyError .header .icon {
      height: 2rem;
      width: 4.745rem;
      object-fit: contain; }
  .bodyError .body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    padding: 2.5rem 1.5rem;
    background-color: #f5f6f7; }
    .bodyError .body .icon {
      display: block;
      margin: auto;
      width: 9rem;
      height: 9rem; }
    .bodyError .body .content {
      margin: 1.5rem auto; }
      .bodyError .body .content .title {
        font-family: Heebo;
        font-size: 1.125rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal; }
      .bodyError .body .content .message {
        font-family: Heebo;
        font-size: 1rem;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.2px; }
    .bodyError .body hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #d9dce1;
      padding: 0; }
