body {
 background-image: url("back%20-%20Copy.png");
	  /* Full height */
  height: 100%; 
  width:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.middle {
    
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
#loading{
	width: 10%;
	
}